*.aux*
*.bcf
*.bbl
*.log
*.blg
*.synctex.gz
*.run.xml
*.toc
*.lof
*.lot
*.out
*.eqs
*.minted
*.pyg
Code/secret.env
Code/dataset/abc_0000_step_v00*
Code/models/qwen2.5/model.safetensors
Code/model/roberta-base/model.safetensors
Code/dataset/annotated
