*.aux*
*.bcf
*.bbl
*.log
*.blg
*.synctex.gz
*.run.xml
*.toc
*.lof
*.lot
*.out
*.eqs
*.minted
*.pyg
Code/secret.env
Code/*dataset*/
Code/renders
Code/models/qwen3.5/
Code/models/qwen2.5-VL-7B/
Code/model/roberta-base/
Code/*tar.gz
!Code/compressed_dataset.tar.gz

